/* Write some CSS below */



body {
	font-family:Chivo;
	color: #8B0101;
	font-size: 18px;
	background: black;
	text-align: center;
	margin:0;
}

h1, h2, h3 {
	color: white;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #CE2FAE;
}


#achete{
	background: linear-gradient(#640000,#130c31);
	color: white;
	text-shadow: #594e7d 2px 0 20px;
	margin: 0px;
	padding: 1em;

}

.underlined{
	width:30%;
	padding: 25px;
	border-bottom: solid 1px red;
	margin: auto;
}


.container {

	display: flex;
	padding-bottom: 50px;
	justify-content: center;
	padding: 20px;

}

.article{
	background-color: #0F0E0E;
	border-radius: 10px;
	padding:15px;
	margin: auto;
	display: block;
	transition:300ms;
}

.article:hover{
	background-color: #3D3D3D;
	transition: 300ms ease-in-out; 
	box-shadow: #640000 1px 0 20px;
}

.article a{
	color: white;
	opacity:0.5;
	transition: 300ms; 
}

.article:hover a{
	opacity:1;
	text-shadow: white 1px 0 10px;
	transition: 300ms ease-in-out; 
}

.beatstars{
	background: linear-gradient(#640000,#130c31);
	color: white;
	width: 150px;
	margin: auto;
	border-radius: 10px;
	transition: 1000ms;
}

.beatstars:hover{
	background: black;
	transition: 500ms ease-in-out;
}

.beatstars:hover a{
	color: white;
}

.banner {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/studiov2.jpg');
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}

.banner h1 {
	color: white;
	font-size: 45px;
	margin: 0;
}

.banner p {
	color: white;
	font-size: 24px;
}

.footer {
	background: linear-gradient(#130c31,black);
	text-align: center;
	padding: 24px 0;
}

.footer a{
	background: linear-gradient(#640000,#130c31);
	padding: 5px;
	color: white;
	width :300px;
	border-radius: 10px;
}


.image-album {
	width: 200px; 
}
